@font-face {
	font-family: 'uzura';
	src: url("./uzura.ttf");
  font-display: swap;
}

body {
	font-family: MyFont;
  background: #f0feff;
}

/* *セレクタは全オブジェクト */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 画像重ね合わせ実現のために、親オブジェクトは
   position: relativeにする。*/
#wholeform {
  position: relative;
}


/* セレクタの.指定は、要素名には関係なく
   class属性の値が一致する様子を全対象とする。
   *.(class属性)の略である。 */
.hidden {
    display: none;
}

.top-character {
    background: rgba(0,0,0,0);
    /* padding: 40px 40px; */
    position: absolute;
    left: 100%;
    top: 50%;
    width: 19vw;
		transform: rotate(-5deg);
		filter: drop-shadow(10px 10px 10px rgba(250,180,220,1));
}


.top-character-mark {
		display: none;
    background: rgba(0,0,0,0);
    position: absolute;
    left: 87%;
    top: 13%;
		filter: drop-shadow(10px 10px 10px rgba(250,180,220,1));
}

/* 詳しくはよーわからんが、下記で吹き出しが実現できてる */
.fukidashi {
  position: absolute;

  /*top: 5%;*/
  left: 60%;
  width: 38%;
  bottom: 88%;
  /* height: 10%; */
  border-radius: 5px;
  background: #ccccff;
  color: #fff;
  font-weight: bold;
	font-family: 'Hiragino Maru Gothic ProN';
  /*font-family: uzura;*/
  font-size: 18px;
  padding: 5px;
	margin: auto;
}

/* こっちが吹き出しの三角形部分っぽい */
.fukidashi:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #ccccff;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}


.background-image {
  position: ralative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
	padding: 20px 20px 5px 5px;
}

.background-image-start {
  position: absolute;
	left: 0;
	top: 0;
  /*background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;*/
  width: 100vw;
	padding: 20px 20px 5px 5px;
}

.behind {
	z-index: 20;
}
.forward {
	z-index: 30;
}
.most-forward{
	z-index: 40;
}

#fade-image{
    background: rgba(255,255,255,1);
    padding: 40px 40px;
    position: absolute;
    left: 50%;
    top: 60%;
		height: 70%;
    transform: translate(-50%,-50%);
}
